= link_to "https://github.com/bazzel/radiobox2" do
  = image_tag "https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", alt: "Fork me on GitHub", style: "position: absolute; top: 0; right: 0; border: 0;"

