:markdown
  ##About this site
  While I was coaching at [RailsGirls The Hague](http://railsgirls.com/thehague), [Rachid Finch](https://twitter.com/rachidfinge) came up
  with this cool idea about building a [Ruby on Rails](http://rubyonrails.org/) application that shows an auto-refreshing list of songs currently playing on the Dutch radio.

  For this we needed to use [Radiobox 2](http://radiobox2.omroep.nl/), a radio metasystem provided by the [NPO](http://www.npo.nl/) (Netherlands Public Broadcasting).

  By the end of the day we got a working version. However, this was a static version. What we really wanted, was the page to get updated by the server.

  This is what this version is doing. It uses Rails 4's [ActionController::Live](http://api.rubyonrails.org/classes/ActionController/Live.html) which now supports [Server-Sent Events](https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_server-sent_events).



