.pure-g-r.songs
  .pure-u-1.text-box
    .l-box
      %h1.text-box-head NPO Radio
      %p.text-box-subhead Or... What the Dutch radio is currently playing.

  = render @songs

  .pure-u-1
    .l-box
      .about= render 'about'
