.pure-g-r.songs
  .pure-u-1.text-box
    .l-box
      %h1.text-box-head NPO Radio
      %p.text-box-subhead Or... What the Dutch radio is currently playing.

  = render @songs

  .pure-u-1
    .l-box
      %h2 Lorem Ipsum
      %p What kind of date? I don't know, what do kids do in the fifties? Who are you calling spook, pecker-wood. Doc, is that a de- Where were we. Well, you mean, it makes perfect sense.
      %p That's good advice, Marty. Ah. Yeah. This is more serious than I thought. Apparently your mother is amorously infatuated with you instead of your father. A block passed Maple, that's John F. Kennedy Drive.
      %p Hi, it's really a pleasure to meet you. Look, you gotta listen to me. C'mon, c'mon let's go. A block passed Maple, that's John F. Kennedy Drive. Here you go, lady. There's a quarter.
